:root {
  --main-color: #000000;
  --primary-color: #ffffff;
  --second-color: #c57839;
  --hover-color: #a05314;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.form-control {
  border: 1px solid var(--second-color);
}

.btn-primary {
  background-color: var(--second-color);
  border: 0;
  padding: 10px 30px;
  margin: 0 auto;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--hover-color);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  margin: 20px auto;
}

.font-text {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-size: 14px;
}
